#swiper-con {
    width: 700px;
    margin-top: 2rem;

    img {
        aspect-ratio: 3 / 4;
        object-fit: cover;
    }
}

.route-content {
    height: 100%;
    overflow-y: hidden;
    // overflow-y: scroll;
    // padding: 1rem;
}